@font-face {
    font-family: "Playfair";
    src: url("../fonts/Playfair.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("../fonts/NunitoSans.ttf") format("truetype");
    font-style: normal;
}