@import "reset.css";
@import "fonts.css";

:root {
    --grey-1: #e5e5e5;
    --grey-2: #c4c4c4;
    --grey-3: #4A4747;
    --grey-4: #333;
    --olive-1: #e1e1c2;
    --olive-2: #91916c;
    --olive-3: #65653e;
    --orange-1: #e5a985;
    --orange-2: #bd957e;
    --orange-3: #b28f79;
    --orange-4: #795744;
    --powder-1: #ffefe7;
    --powder-2: #fae3d8;
}

body,
html {
    font-family: "Nunito Sans", sans-serif;
}

:is(input, input::placeholder) {
    font-size: clamp(1rem, 0.916rem + 0.42vw, 1.25rem);
    line-height: 1;
}

.container {
    width: min(79.375rem, 100%, calc(100% - clamp(0.938rem, 0.411rem + 2.63vw, 2.5rem)));
    margin-inline: auto;
    container-type: inline-size;
}

.owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.owl-nav button {
    position: relative;
    flex: none;
    display: block;
    width: clamp(1.875rem, 1.239rem + 3.18vw, 3.625rem);
    height: clamp(1.875rem, 1.239rem + 3.18vw, 3.625rem);
    border-radius: 3.75rem;
    background-color: var(--orange-1) !important;
    border: 2px solid var(--orange-1) !important;
    cursor: pointer;
    pointer-events: initial;
    scale: 1;
    transition: all .3s;
}

.owl-nav .owl-prev {
    left: -6.375rem;
}

.owl-nav .owl-next {
    right: -6.375rem;
}

.owl-nav button svg {
    display: flex;
    justify-self: center;
    width: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
    transition: all .3s;
}

.owl-nav button svg path,
.owl-nav button:hover svg path {
    transition: all .3s;
}

.owl-nav button.disabled {
    cursor: default;
    pointer-events: none;
    opacity: .4;
}

.owl-nav button:hover {
    background-color: #fff !important;
    transition: all .3s;
}

.owl-nav button:hover svg path {
    stroke: var(--orange-1);
}

.owl-nav button:active {
    scale: 1.15;
    transition: all .3s;
}

.h2 {
    display: block;
    margin-bottom: clamp(2.75rem, 2.023rem + 3.64vw, 4.75rem);
    position: relative;
    font-size: clamp(1.313rem, 1.063rem + 1.25vw, 2rem);
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-align: center;
    width: fit-content;
    margin-inline: auto;
    text-transform: uppercase;
}

.h2::after {
    content: '';
    position: absolute;
    bottom: -24px;
    left: 50%;
    display: block;
    height: 3px;
    width: clamp(10rem, 7.091rem + 14.55vw, 18rem);
    background-color: currentColor;
    transform: translateX(-50%);
}

.section-description {
    display: block;
    font-size: clamp(1.75rem, 1.295rem + 2.27vw, 3rem);
    line-height: clamp(2rem, 1.205rem + 3.98vw, 4.188rem);
    font-weight: 700;
    font-family: "Playfair", sans-serif;
    letter-spacing: 0.02em;
    text-align: center;
    width: min(45.438rem, 100%);
    margin-inline: auto;
}

header {
    position: sticky;
    top: 0;
    padding: clamp(0.625rem, 0.078rem + 2.74vw, 2.25rem) 0 clamp(1.875rem, 0.717rem + 5.79vw, 5.313rem);
    background: #fff;
    z-index: 10;
}

header .header-logotype {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 2.813rem;
    min-width: 10rem;
}

header .header-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: -10px 0;
}

header .header-links > a {
    display: block;
    width: fit-content;
    min-width: max-content;
    padding: 10px clamp(0.313rem, -0.382rem + 3.47vw, 2.375rem);
    font-size: clamp(0.875rem, 0.749rem + 0.63vw, 1.25rem);
    line-height: 1;
    color: #000;
    transition: color .3s;
}

header .header-links > a:hover {
    color: var(--olive-2);
    transition: color .3s;
}


main,
footer {
    container-type: inline-size;
}

main .shop-now-section {
    width: min(160rem, 100%);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(1.25rem, -0.35rem + 8vw, 6rem);
}

main .shop-now-section .shop-now-image {
    max-width: clamp(18rem, 12.611rem + 26.95vw, 34rem);
    width: 100%;
}

main .shop-now-section .shop-now-image img {
    object-fit: contain;
    width: 100%;
    min-width: 18.75rem;
}

main .shop-now-section .shop-now-form-content {
    margin-right: clamp(0.938rem, 0.411rem + 2.63vw, 2.5rem);
    max-width: 40rem;
    width: 100%;
}

main .shop-now-section .shop-now-form-title {
    display: block;
    margin-bottom: clamp(1.25rem, 0.829rem + 2.11vw, 2.5rem);
    font-size: clamp(1.5rem, 0.826rem + 3.37vw, 3.5rem);
    line-height: clamp(1.6rem, 0.826rem + 3.37vw, 3.8rem);
    font-family: "Playfair", sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: var(--orange-1);
    max-width: 34.375rem;
}

main .shop-now-section .shop-now-form-description {
    max-width: 36rem;
    margin-bottom: clamp(1.25rem, 0.261rem + 4.95vw, 4.188rem);
    font-size: clamp(1rem, 0.832rem + 0.84vw, 1.5rem);
    line-height: clamp(1.25rem, 0.808rem + 2.21vw, 2.563rem);
    color: var(--grey-3);
}

main .shop-now-section form {
    display: flex;
    width: 100%;
}

main .shop-now-section button[type="submit"] {
    border-radius: 0 8px 8px 0;
    padding: clamp(0.625rem, 0.52rem + 0.53vw, 0.938rem) clamp(0.625rem, 0.204rem + 2.11vw, 1.875rem);
    font-size: clamp(0.875rem, 0.628rem + 0.59vw, 1.25rem);
    line-height: 1;
    background-color: var(--olive-2);
    border: 2px solid var(--olive-2);
    font-weight: 700;
    color: #fff;
    width: fit-content;
    min-width: max-content;
    transition: all .3s;
}

main .shop-now-section button[type="submit"]:hover {
    background-color: #fff;
    color: var(--olive-2);
    transition: all .3s;
}

main .shop-now-section input#email {
    flex: 1;
    padding: clamp(0.625rem, 0.52rem + 0.53vw, 0.938rem) clamp(0.625rem, 0.204rem + 2.11vw, 1.875rem);
    margin-right: 0.938rem;
    background-color: var(--grey-1);
    border-radius: 8px 0 0 8px;
    width: inherit;
    font-weight: 700;
}

main .shop-now-section input {
    color: var(--grey-3);
}

main .shop-now-section input::placeholder {
    color: var(--grey-2);
}

main .product-section {
    padding: clamp(1.875rem, -1.829rem + 8.78vw, 7.5rem) 0 clamp(1.875rem, 0.311rem + 3.71vw, 4.25rem);
    background-color: var(--olive-1);
}

main .product-section .h2 {
    color: var(--olive-2);
}

main .product-section .section-description {
    color: var(--olive-3);
}

main .product-section .js-product-slider {
    position: relative;
    width: min(50rem, 100%);
    margin: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem) auto;
}

main .product-section .js-product-slider img {
    border-radius: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
}

main .product-section .product-info {
    font-weight: 700;
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    line-height: clamp(1.188rem, 0.983rem + 1.02vw, 1.75rem);
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--grey-4);
}

main .services-section {
    padding: clamp(1.875rem, 0.693rem + 5.91vw, 5.125rem) 0 clamp(1.875rem, 1.261rem + 3.07vw, 3.563rem);
}

main .services-section .h2 {
    color: var(--olive-2);
}

main .services-section .services-items {
    display: flex;
    gap: clamp(0.625rem, 0.261rem + 1.82vw, 1.625rem);
    margin: clamp(1.25rem, 0.455rem + 3.98vw, 3.438rem) auto;
    width: min(71.313rem, 100%);
    padding-top: clamp(1.25rem, 0.545rem + 3.52vw, 3.188rem);
}

main .services-section .services-item {
    height: fit-content;
    width: 100%;
    border-radius: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
    overflow: hidden;
}

main .services-section .services-item:nth-child(even) {
    background-color: var(--olive-2);
    box-shadow: 10px 10px 35px 2px rgba(89, 56, 14, 0.1);
}

main .services-section .services-item:nth-child(odd) {
    background-color: var(--powder-1);
}

main .services-section .services-item:nth-child(odd) .services-item-description {
    color: #000;
}

main .services-section .services-item:nth-child(even) .services-item-description {
    color: #fff;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

main .services-section .services-item img {
    position: relative;
    top: -1px;
    object-fit: cover;
}

main .services-section .section-description {
    color: var(--orange-1);
}

main .services-section .services-item-description {
    padding: clamp(0.625rem, 0.17rem + 2.27vw, 1.875rem) clamp(0.625rem, -0.193rem + 4.09vw, 2.875rem) clamp(0.625rem, -0.057rem + 3.41vw, 2.5rem);
    font-weight: 400;
    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
    line-height: clamp(1.188rem, 0.869rem + 1.59vw, 2.063rem);
    letter-spacing: 0.02em;
    text-align: center;
}

main .blog-section {
    padding: clamp(1.875rem, 0.739rem + 5.68vw, 5rem) 0;
    background-color: var(--powder-1);
}

main .blog-section .h2 {
    color: var(--orange-2);
}

main .blog-section .section-description {
    color: var(--orange-4);
}

main .blog-section .blog-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(10rem, 5.636rem + 21.82vw, 22rem), 1fr));
    grid-gap: clamp(0.625rem, -0.875rem + 7.5vw, 4.75rem) clamp(0.625rem, -0.352rem + 4.89vw, 3.313rem);
    margin-top: clamp(1.25rem, -0.227rem + 7.39vw, 5.313rem);
}

main .blog-section .blog-item img {
    flex: 0;
    display: block;
    width: 100%;
    max-width: clamp(4.375rem, 2.33rem + 10.23vw, 10rem);
    border-radius: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
}

main .blog-section .blog-item {
    display: flex;
    align-items: center;
    gap: clamp(0.625rem, 0.125rem + 2.5vw, 2rem);
}

main .blog-section .blog-item .blog-item-description {
    font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    line-height: clamp(1.188rem, 0.847rem + 1.7vw, 2.125rem);
    color: var(--grey-4);
}


footer .h2 {
    padding-top: clamp(1.875rem, 0.466rem + 7.05vw, 5.75rem);
    color: var(--olive-2);
}

footer .footer-title-wrap {
    padding-bottom: clamp(0.4rem, -0.545rem + 4.73vw, 3rem);
}

footer .section-description {
    width: min(27.438rem, 100%);
    color: #fff;
}

footer .footer-wrap {
    margin-bottom: clamp(1.875rem, 0.739rem + 5.68vw, 5rem);
    background-color: var(--olive-2);
}

footer .footer-wrap .footer-wrap-inner {
    padding: clamp(1.875rem, 1.602rem + 1.36vw, 2.625rem) 0;
}

footer .footer-wrap .footer-form-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0.625rem, -0.557rem + 5.91vw, 3.875rem);
}

footer .footer-wrap .footer-form-wrap > img {
    max-width: clamp(13.75rem, 9.25rem + 22.5vw, 26.125rem);
    flex: 0;
}

footer .footer-wrap .footer-form-wrap form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: clamp(0.625rem, 0.239rem + 1.93vw, 1.688rem) 0.625rem;
    max-width: 37.5rem;
    width: 100%;
}

footer .footer-wrap .footer-form-wrap form input {
    display: flex;
    width: 100%;
    padding: clamp(0.625rem, 0.52rem + 0.53vw, 0.938rem) clamp(0.625rem, 0.204rem + 2.11vw, 1.875rem);
    background-color: rgba(225, 225, 194, 0.4);
    border-radius: 8px;
    font-weight: 700;
    color: #fff;
}

footer .footer-form-wrap button[type="submit"] {
    display: flex;
    width: 100%;
    padding: clamp(0.625rem, 0.52rem + 0.53vw, 0.938rem) clamp(0.625rem, 0.204rem + 2.11vw, 1.875rem);
    background-color: var(--orange-1);
    border: 2px solid var(--orange-1);
    border-radius: 8px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    justify-content: center;
    font-size: clamp(1rem, 0.916rem + 0.42vw, 1.25rem);
    line-height: 1;
    transition: all .3s;
}

footer .footer-form-wrap button[type="submit"]:hover {
    background-color: #fff;
    color: var(--orange-1);
    transition: all .3s;
}

footer .footer-form-wrap button[type="submit"]:active {
    scale: 1.15;
    transition: all .3s;
}

@container (max-width: 1000px) {
    .owl-nav .owl-prev {
        left: 1.25rem;
    }

    .owl-nav .owl-next {
        right: 1.25rem;
    }
}

@container (min-width: 840px) {
    footer .footer-wrap .footer-form-wrap form :not(#first-name-footer, #last-name-footer) {
        grid-column: span 2;
    }
}

@container (max-width: 840px) {
    main .shop-now-section {
        position: relative;
        padding: clamp(4rem, 1.979rem + 10.11vw, 10rem) 0;
        overflow: hidden;
    }

    main .shop-now-section .shop-now-image {
        max-width: 100%;
        position: absolute;
        opacity: .2;
    }

    main .shop-now-section .shop-now-image img {
        min-width: 100%;
        object-fit: cover;
        height: 100%;
    }

    main .shop-now-section .shop-now-form-content {
        margin-left: clamp(0.938rem, 0.411rem + 2.63vw, 2.5rem);
        z-index: 1;
    }

    footer .footer-wrap .footer-form-wrap form {
        grid-template-columns: repeat(1, 1fr);
    }
}

@container (min-width: 675px) {
    footer .footer-wrap .footer-form-wrap > img {
        position: relative;
        bottom: -5vw;
    }
}

@container (max-width: 675px) {
    header .header-elements {
        flex-direction: column;
    }

    header .header-logotype {
        margin-bottom: clamp(0.625rem, 0.414rem + 1.05vw, 1.25rem);
    }

    .h2::after {
        bottom: -12px;
    }

    footer .footer-wrap .footer-form-wrap {
        flex-direction: column;
        padding: 1.875rem 0;
    }
}

@container (min-width: 600px) {
    main .services-section .services-item:nth-child(even) {
        position: relative;
        top: -1.563rem;
        max-width: 24.25rem;
    }

    main .services-section .services-item:nth-child(odd) {
        max-width: 21.938rem;
    }
}

@container (max-width: 600px) {
    main .services-section .services-items {
        flex-direction: column;
    }

    main .services-section .services-item img {
        max-height: clamp(11.25rem, 9.659rem + 7.95vw, 15.625rem);
        width: 100%;
    }
}

@container (max-width: 380px) {
    main .shop-now-section input#email {
        margin: 0;
    }
}